/*------------------------------------*\
    $BUTTONS
\*------------------------------------*/

$main-shadow: #113060;
$secondary-shadow: #C6C6C6;

.btn {
	display: inline-block;
	vertical-align: middle;
	white-space: nowrap;
	font-family: $brand-face-bold;
	@include inuit-font-size($inuit-heading-size-5, 2.75);
	cursor: pointer;
	border: none;
	margin: 0;
	padding-top: 0;
	padding-bottom: 0;
	padding-right: 1.25em;
	padding-left: 1.25em;
	text-transform: uppercase;
	text-align: center;
	background-color: $brand-color;
	border-radius: 0;
	box-shadow: 0 3px $main-shadow;
	position: relative;
}

.btn:active { box-shadow: none; top: -2px }

.btn--secondary {
	color: $brand-color;
	background-color: $main-bg-color;
	box-shadow: 0 3px $secondary-shadow;
}

.btn--tertiary {
	border: 2px solid;
	background-color: transparent;
	box-shadow: none;
}

.btn--huge {
	font-size: 2rem
}

.btn--small {
	@include inuit-font-size($milli-size, 2);
	padding-right: .75em;
	padding-left: .75em;
}

.btn--full {
	display: block;
}

.btn ~ .btn { margin-left: $inuit-base-spacing-unit--small }
