/*------------------------------------*\
    $LOADING
\*------------------------------------*/

@include keyframe (spin) {
	from { transform: rotate(0deg); opacity: 0.2 }
    50%  { transform: rotate(180deg); opacity: 1.0 }
    to   { transform: rotate(360deg); opacity: 0.2 }
}

.loading { width: 25px !important; height: 25px !important; margin: auto !important;
	border: thin solid $base-ui-color; border-right-color: transparent; border-radius: 100%;
	@include vendor (animation, spin 1s linear infinite);
}

.no-cssanimation {
	.loading {
		border: 0 none;
		background: url("../images/loading.gif") no-repeat center center transparent;
	}
}