/*------------------------------------*\
    $LOADING
\*------------------------------------*/

.loading { padding: $inuit-base-spacing-unit--small;
	position: absolute; left: 50%; top: 50%;
	width: 32px; height: 32px;
	margin: -16px 0 0 -16px;
	background: url("../images/loading.gif") no-repeat center center transparent;
}
